// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
@import "bootstrap-responsive";


.card{
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */	
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box;
    padding-top: 2px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 1px;
    width: 23%;
    min-height: 330px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgb(208, 213, 203);
    position: relative;
    background-color: white;
    background-repeat: repeat-x;
    .stats{
      padding: 20px;
    h3{
      text-align: center;
      a{
      color: rgb(0, 150, 187);
      }
    }}
}


.project, .phase, .material, .service, .labour, .wage{
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(208, 213, 203);
    padding: 25px 15px;
    box-shadow: 0px 0px 0px 4px rgba(208, 213, 203, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;    
    color: rgb(11, 25, 2);
    h2{
      color: rgb(0, 150, 187);
     a{
	color: rgb(0, 150, 187);
        &:hover {
    color: rgb(6, 37, 49);
    text-decoration: none;
}

      }
    }
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
   .stats{
      .stat{
     padding: 20px;
     background: #EEF2EA;
        font-weight: bold;
    font-size: 48px;
    line-height: 1.042;
    margin-bottom: 0px;
    height: 150px;
    .progress{
      
    }
}
margin-bottom: 10px;
    
    }


.table{
  td{
  a{
   color: #fff;
   &:visted{
     color: #fff;
   }
 }
}
}

.form-horizontal .form-actions{
a{
color: #fff;
}
}

[id*=best]{
  .btn{
  margin-right: 2px;
  }
  strong{
    border-bottom: 1px dotted #000;
  }
}

}

.center {
text-align: center;
}